* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 80vh;
}

.hero-header {
  margin: 10px auto;
  width: 90%;
  text-align: center;
}

.hero-header .header-first {
  color: #fff;
  font-style: italic;
}

.hero-header .header-first .yellow-header {
  color: orange;
}

.hero-text {
  width: 60%;
  margin: 5px auto;
  font-size: 1em;
}

.hero-text .paragraph-text {
  text-align: center;
  color: #fff;
}

.hero-text .paragraph-text .yellow-text {
  color: orange;
}

.main-projects {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
}

.main-projects .projects1 {
  color: black;
  width: 95%;
  height: 200px;
  margin: 50px auto;
  border: 5px solid orange;
  width: 100%;
  background-color: orange;
  border-radius: 5px;
  transition: 1s;
}

.main-projects .projects1:hover {
  transition: 1s;
  transform: scale(1.1);
}

.main-projects .projects1 .img-projects {
  background-image: url(../img/project_1.jpeg);
  background-position: center;
  border-radius: 5px;
  height: 150px;
}

.main-projects .projects1 .icons {
  margin: 6px auto;
}

.main-projects .projects1 .fas:hover,
.main-projects .projects1 .fab:hover {
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.main-projects .projects2 {
  color: black;
  width: 95%;
  height: 200px;
  margin: 50px auto;
  border: 5px solid orange;
  width: 100%;
  background-color: orange;
  border-radius: 5px;
  transition: 1s;
}

.main-projects .projects2:hover {
  transition: 1s;
  transform: scale(1.1);
}

.main-projects .projects2 .img-projects {
  background-image: url(../img/project_2.jpg);
  background-position: center;
  border-radius: 5px;
  height: 150px;
}

.main-projects .projects2 .icons {
  margin: 6px auto;
}

.main-projects .projects2 .fas:hover,
.main-projects .projects2 .fab:hover {
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

@media only screen and (min-width: 800px) {
  .main-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    gap: 100px;
  }
  .hero-header {
    font-size: 1.5em;
  }
  .hero-text {
    font-size: 1.2em;
  }
}

body {
  background-color: #1b1b1b;
}

.desktop-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.desktop-icons .fab {
  padding-top: 5px;
  color: orange;
}

.desktop-icons .fab:hover {
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: orange;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mobile .left-nav {
  margin-left: 10px;
}

.mobile .left-nav a {
  color: black;
}

.mobile .fas:hover,
.mobile .fab:hover {
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.mobile .right-nav {
  display: grid;
  justify-content: end;
  margin-right: 15px;
}

.mobile .dropup-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  bottom: 32px;
  z-index: 1;
}

.mobile .dropup-content a {
  color: black;
  font-size: 0.5em;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.mobile .dropup-content a:hover {
  background-color: #1b1b1b;
  color: orange;
}

.mobile .right-nav:hover .dropup-content {
  display: block;
  background-color: orange;
}

.mobile .right-nav:hover .dropbtn {
  background-color: orange;
}

@media only screen and (min-width: 800px) {
  .desktop {
    background-color: orange;
    padding-left: 10px;
  }
  .desktop a {
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 2.5em;
    font-weight: 500;
  }
  .desktop a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
  }
  .desktop .right-desktop-nav {
    float: right;
    padding-right: 10px;
  }
}

.hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */