* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
$primary-color: #214252;
/*$primary-color: #1b1b1b;*/
$secondary-color: #f05454;
$accent-color: #af2d2d;

@mixin transition-icon {
  color: #ce6262;
  text-shadow: 2px 2px black;
  cursor: pointer;
  transition: 0.5s;
}
@mixin projects {
  cursor: pointer;
  color: black;
  height: 200px;
  max-width: 450px;
  margin: 50px auto;
  border: 5px solid $accent-color;
  width: 100%;
  background-color: $accent-color;
  border-radius: 5px;
  transition: 1s;
}
@mixin projects-img {
  background-position: center;
  border-radius: 5px;
  height: 150px;
}
