body {
  height: 100vh;
}

.hero-header {
  margin: 10px auto;
  width: 90%;
  text-align: center;

  .header-first {
    color: #fff;
    font-style: italic;
    text-shadow: 2px 2px black;

    .yellow-header {
      color: $accent-color;
    }
  }
}
.hero-text {
  width: 60%;
  margin: 5px auto;
  font-size: 1.5em;

  .paragraph-text {
    text-align: center;
    color: #fff;

    span {
      color: $accent-color;
      text-shadow: 1px 1px black;
    }
  }
}

.main-projects {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;

  .projects1 {
    color: #fff;
    text-shadow: 2px 1px #000;
    width: 95%;
    height: 200px;
    margin: 50px auto;
    border: 5px solid $accent-color;
    width: 100%;
    background-color: $accent-color;
    border-radius: 5px;
    transition: 1s;
    
    &:hover {
      transition: 1s;
      transform: scale(1.1);
    }

    .img-projects {
      background-image: url(../img/project_1.jpeg);
      background-position: center;
      border-radius: 5px;
      height: 150px;
    }

    .icons {
      margin: 6px auto;
    }
    .fas:hover,
    .fab:hover {
      @include transition-icon;
      color: $primary-color;
    }
  }
  .projects2 {
    color: #fff;
    text-shadow: 2px 1px #000;
    width: 95%;
    height: 200px;
    margin: 50px auto;
    border: 5px solid $accent-color;
    width: 100%;
    background-color: $accent-color;
    border-radius: 5px;
    transition: 1s;

    &:hover {
      transition: 1s;
      transform: scale(1.1);
    }

    .img-projects {
      background-image: url(../img/project_2.jpg);
      background-position: center;
      border-radius: 5px;
      height: 150px;
    }
    .icons {
      margin: 6px auto;
    }
    .fas:hover,
    .fab:hover {
      @include transition-icon;
      color: $primary-color;
    }
  }
}

@media only screen and (min-width: 800px) {
  .hero-header {
    margin: -30px auto 10px auto;
  }

  .main-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    gap: 100px;
  }

  .hero-header {
    font-size: 1.5em;
  }
  .hero-text {
    margin: 40px auto 20px auto;
    font-size: 1.2em;
  }
}