body {
    height: 100vh;
}

.portfolio-hero-text {
    width: 90%;
    margin: 5px auto;

    .portfolio-text {
        text-align: center;
        color: #fff;
        font-size: 2em;
        font-style: italic;
        text-shadow: 2px 2px black;

        .orange-text {
            color: $accent-color;
        }
    }
}

.portfolio-projects {
    width: 80%;
    max-width: 400px;
    margin: 20px auto 50px auto;
  
    .portfolio-project1 {
      @include projects;
      
      &:hover {
        transition: 1s;
        transform: scale(1.1);
      }
  
      .img-projects {
        background-image: url(../img/project_1.jpeg);
        @include projects-img;
      }
  
      .icons {
        margin: 6px auto;
      }
      .fas:hover,
      .fab:hover {
        @include transition-icon;
        color: $primary-color;
      }
    }
    .portfolio-project2 {
     @include projects;
  
      &:hover {
        transition: 1s;
        transform: scale(1.1);
      }
  
      .img-projects {
        background-image: url(../img/project_2.jpg);
        @include projects-img;
      }
      .icons {
        margin: 6px auto;
      }
      .fas:hover,
      .fab:hover {
        @include transition-icon;
        color: $primary-color;
      }
    }

    .portfolio-project3 {
        @include projects;
    
        &:hover {
          transition: 1s;
          transform: scale(1.1);
        }
    
        .img-projects {
          background-image: url(../img/random_project.jpg);
          @include projects-img;
        }
        .icons {
          margin: 6px auto;
        }
        .fas:hover,
        .fab:hover {
          @include transition-icon;
          color: $primary-color;
        }
      }

      .portfolio-project4 {
        @include projects;
    
        &:hover {
          transition: 1s;
          transform: scale(1.1);
        }
    
        .img-projects {
          background-image: url(../img/random_project.jpg);
          @include projects-img;
        }
        .icons {
          margin: 6px auto;
        }
        .fas:hover,
        .fab:hover {
          @include transition-icon;
          color: $primary-color;
        }
      }

      .portfolio-project5 {
        @include projects;
    
        &:hover {
          transition: 1s;
          transform: scale(1.1);
        }
    
        .img-projects {
          background-image: url(../img/random_project.jpg);
          @include projects-img;
        }
        .icons {
          margin: 6px auto;
        }
        .fas:hover,
        .fab:hover {
          @include transition-icon;
          color: $primary-color;
        }
      }

      .portfolio-project6 {
        @include projects;
    
        &:hover {
          transition: 1s;
          transform: scale(1.1);
        }
    
        .img-projects {
          background-image: url(../img/random_project.jpg);
          @include projects-img;
        }
        .icons {
          margin: 6px auto;
        }
        .fas:hover,
        .fab:hover {
          @include transition-icon;
          color: $primary-color;
        }
      }
  }

  @media only screen and (min-width: 800px) {
    .portfolio-hero-text {
      margin: -60px auto 50px auto;
    }
      .portfolio-projects {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          max-width: 1800px;
          margin: auto;
          gap: 50px; 
          width: 90%;

          .portfolio-project1, .portfolio-project2, .portfolio-project3, .portfolio-project4, .portfolio-project5,.portfolio-project6 {
            margin: auto;
          }

      }
  }