@import "base";
@import "index";
@import "education";
@import "contact";
@import "portfolio";

body {
  background-color: $primary-color;
}

.desktop-icons {
  // positioning the desktop icons
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-right: 10px;

  .fab {
    // changing the icons color and adding a padding
    padding-top: 5px;
    color: $secondary-color;
    transition: 1.5s;

    &:hover {
      // when hovering over the icons changing the color and includes
      // the mixin transition icon
      @include transition-icon;
      color: #fff;
    }
  }
}

.mobile {
  // positioning the mobile navigation with css grid
  // at the bottom with 1fraction for the icons and
  // 1fraction for the hamburger menu
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $secondary-color;
  position: fixed;
  bottom: 0;
  width: 100%;

  .left-nav {
    margin-left: 10px;

    a {
      color: black;
    }
  }

  // adding a hover effect for the icons with the
  // mixin transition-icon
  .fas:hover,
  .fab:hover {
    @include transition-icon;
  }

  // placeing the hamburger menu on the rigth side of the screen
  .right-nav {
    display: grid;
    justify-content: end;
    margin-right: 15px;
  }

  // the div that appears after hovering the hamburger menu
  .dropup-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 32px;
    z-index: 1;

    a {
      // styiling the links within the hmburger menu
      color: #fff;
      font-size: 0.5em;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        // adding a hover effect on the links
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }

  .right-nav:hover .dropup-content {
    //when the hamburger menu is moused over, changing the
    // display from "none" to "block" which makes it appear
    display: block;
    background-color: $secondary-color;
  }

  .right-nav:hover .dropbtn {
    background-color: $secondary-color;
  }
}

// when the screen is bigger than 800px
@media only screen and (min-width: 800px) {
  .desktop {
    // styling the desktop navigation
    background-color: $secondary-color;
    padding-left: 10px;

    a {
      // styling the links within the desktop navigation
      padding-left: 10px;
      text-decoration: none;
      color: #fff;
      text-shadow: 2px 2px black;
      font-size: 2em;
      font-weight: 500;
      transition: 1s;

      &:hover {
        // adding the mixin when mousing over the navigation links
        @include transition-icon;
        color: $primary-color;
        text-shadow: none; 
      }
    }

    .right-desktop-nav {
      // placing the contact me link on the right side
      float: right;
      padding-right: 10px;
    }
  }
}

.hide {
  // class that is used whitin the javascript
  display: none;
}
